In [14]:
import pandas as pd 
import numpy as np 
from FileOpener.CSVReader.CSVReader import CSVReader as csv
import FileOpener.new_backtest as newb

%matplotlib inline

In [15]:
directory = 'CSVFile/Price/Korea/Stocks'

kse_close = csv.price_reader('KOSPI_FROM_1998_close.csv', directory)

In [18]:
ret = newb.BacktestReturn(kse_close).ret_cleaner().loc[:'2018-12-31']

In [23]:
ret.head()

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A298050,A298690,A300720,A306200,A900030,A900050,A900140,A950010,A950070,A950100
D A T E,,,,,,,,,,,,,,,,,,,,,
1998-01-03,1.028922,0.920833,1.017419,0.923055,1.000000,1.079723,1.078918,1.077551,0.938628,1.076553,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-05,0.983134,1.079186,0.993152,0.925972,1.035088,1.043339,1.079580,1.079545,1.076923,1.079086,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-06,0.971409,1.079665,0.972418,1.079947,0.988444,1.000000,1.079917,1.077193,1.078571,1.076895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-07,0.979397,1.079612,0.975181,0.925972,1.022603,0.955385,0.996621,1.078176,1.072848,1.074837,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-01-08,0.979030,1.078237,0.952735,1.000000,1.076982,1.043478,1.061822,1.078550,1.018519,1.022196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
## 월별 수익률 산출
## nan 값 일 때,
monthly_ret = ret.resample('M').prod()

In [22]:
monthly_ret.head()

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A298050,A298690,A300720,A306200,A900030,A900050,A900140,A950010,A950070,A950100
D A T E,,,,,,,,,,,,,,,,,,,,,
1998-01-31,0.988377,2.893141,1.080167,0.931611,1.322169,1.476149,1.619607,1.448980,1.371841,1.638287,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1998-02-28,0.730997,0.930910,0.709657,0.908284,1.065139,0.774648,0.717397,0.909859,0.794737,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1998-03-31,0.826285,0.930070,0.918018,1.177610,0.887882,0.972727,0.965162,1.011871,0.967027,0.958451,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1998-04-30,0.699132,0.625651,0.617627,0.520902,0.842703,0.669935,0.893526,0.676154,0.550856,0.836270,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1998-05-31,0.752541,0.696403,1.069247,0.640638,0.812007,0.760013,0.724568,0.690974,1.389108,0.818238,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [24]:
month_std = monthly_ret.rolling(60).std()

In [28]:
month_std.mean(axis = 1)

D A T E
1998-01-31         NaN
1998-02-28         NaN
1998-03-31         NaN
1998-04-30         NaN
1998-05-31         NaN
1998-06-30         NaN
1998-07-31         NaN
1998-08-31         NaN
1998-09-30         NaN
1998-10-31         NaN
1998-11-30         NaN
1998-12-31         NaN
1999-01-31         NaN
1999-02-28         NaN
1999-03-31         NaN
1999-04-30         NaN
1999-05-31         NaN
1999-06-30         NaN
1999-07-31         NaN
1999-08-31         NaN
1999-09-30         NaN
1999-10-31         NaN
1999-11-30         NaN
1999-12-31         NaN
2000-01-31         NaN
2000-02-29         NaN
2000-03-31         NaN
2000-04-30         NaN
2000-05-31         NaN
2000-06-30         NaN
                ...
2016-07-31    0.081727
2016-08-31    0.081029
2016-09-30    0.080057
2016-10-31    0.079968
2016-11-30    0.079667
2016-12-31    0.079260
2017-01-31    0.078818
2017-02-28    0.077709
2017-03-31    0.077749
2017-04-30    0.077121
2017-05-31    0.076886
2017-06-30    0.076732
2017-07-31    0.076380
2017-08-31    0.076002
2017-09-30    0.075545
2017-10-31    0.074708
2017-11-30    0.074977
2017-12-31    0.075005
2018-01-31    0.075828
2018-02-28    0.076073
2018-03-31    0.076578
2018-04-30    0.076900
2018-05-31    0.076950
2018-06-30    0.077204
2018-07-31    0.077059
2018-08-31    0.077088
2018-09-30    0.077037
2018-10-31    0.079126
2018-11-30    0.079289
2018-12-31    0.079431
Freq: M, Length: 252, dtype: float64